body {
    margin: 0;
    box-sizing: border-box;

    header {
        margin: 0;
        padding: 0;
        background-color: rgb(255, 255, 255);

        h1 {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    footer {
        .timer {
            width: 1000px;
            border: 1px solid #cccccc;
            margin: 10px auto 0;

            .tv {
                width: 0%;
                background-color: green;
                height: 20px;
            }
        }
    }
}